<header class="flex bg-[#333] text-white">
  <nav class="flex flex-row w-screen justify-between items-center py-4">
    <h1 class="text-3xl ml-4 cursor-pointer" routerLink="/">
      {{ title() }}
    </h1>

    <ul class="flex flex-row justify-evenly items-center align-center cursor-pointer">
      @for (route of appRoutes; track $index) {
      <li [routerLink]="route.path" [class]="{ 'ml-4': $index > 0 }">
        {{ route.name }}
      </li>
      }
    </ul>

    <div class="mr-4">
      <button routerLink="/register"
        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
        <span
          class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
          Comece aqui!
        </span>
      </button>
    </div>
  </nav>
</header>