<div class="mb-4 flex flex-row justify-between">
  <h1 class="text-2xl">
    Novo Contato
  </h1>

  <button type="button" (click)="navigateBack()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M4 12L10 6M4 12L10 18M4 12H14.5M20 12H17.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
    </svg>
    <span class="sr-only">Icon description</span>
    <span class="ml-2">Voltar</span>
  </button>
</div>

<app-contato-register-form></app-contato-register-form>